.heading-section {
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
  padding: 40px;
  margin-bottom: 30px;
}

.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 10;
  padding: 20px;
  width:  800px;
  height: 450px;
  max-height: 1000px;
}