<form>
  <div class="inputContainer">
    <div class="inputContainerHeader">
      <div class="inputLabel">
        <label for="">Tarefas</label>
      </div>
      <div class="inputAdd">
        <button mat-button (click)="add(hr, task)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    <input type="text" value="Limpar a casa" id="tarefa" placeholder="Add your new todo" #task required>
    <hr #hr />

    <div class="ulContainer">
      <ul *ngFor="let item of list">
        <div class="checkBoxContainer">
          <input type="checkbox"
            name="checkbox"
            class="checkBoxInput"
            (change)="lineThrough(li, $event)">
          <li #li>{{ item.name }}</li>
        </div>

        <div class="buttonsContainer">
          <button (click)="editTask()" mat-mini-fab color="success" class="editButton">
            <mat-icon class="editButton">edit</mat-icon>
          </button>

          <button (click)="removeTask(hr, item.id)" mat-mini-fab color="warn" class="removeButton">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </ul>

    </div>

    <div class="clearContainer" #clear>
      <div class="clearLabel">
        <label #label for="">Você tem {{ this.list.length }} tarefa(s) pendente</label>
      </div>
      <div class="clearButton">
        <button mat-button (click)="clearTasks(hr)">Limpar tudo</button>
      </div>
    </div>

  </div>
</form>