.inputContainer {
  width: 100%;
  background-color: #1a1a1a;
  padding: 12px;
  border-radius: 5px;
}

.inputContainerHeader {
  display: flex;
  justify-content: space-between;
}

.inputLabel {
  padding: 6px 0px 10px;
  font-size: 16px;
  color: #9f9f9f;
}

.inputError {
  padding: 6px 0px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ff0000;
}

input {
  color: white;
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0;
  width: 100%;
}

mat-icon {
  color: white;
  cursor: pointer;
}

.ulContainer {
  border-radius: 8px;
  background-color: #1f1f1f;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  list-style: none;
}

li {
  color: #FFF;
}

hr {
  display: none;
  border: 0.5px solid #FFF;
  background-color: #FFF;
  opacity: .5;
}

.clearContainer {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 8px;
}

.removeButton {
  margin-left: 8px;
  transform: scale(.8);
}

.editButton {
  transform: scale(.8);
}

.checkBoxContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.checkBox {
  margin-right: 12px;
}

.checkBoxInput {
  margin: 0;
  padding: 0;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  color: black;
  border: 1px solid gray;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);;
  margin-right: 8px;
}

.checkBoxInput:checked {
  background: #959595;
}