.inputContainer {
  width: 100%;
  background-color: #1a1a1a;
  padding: 12px;
  border-radius: 5px;
}

.inputContainerHeader {
  display: flex;
  justify-content: space-between;
}

.inputLabel {
  padding: 6px 0px 10px;
  font-size: 16px;
  color: #9f9f9f;
}

.inputError {
  padding: 6px 0px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #ff0000;
}

input {
  color: white;
  outline: none;
  border: none;
  background-color: inherit;
  padding: 0;
}

mat-icon {
  color: white;
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  list-style: none;
}

li {
  color: #FFF;
}

hr {
  display: none;
  border: 0.5px solid #FFF;
  background-color: #FFF;
  opacity: .5;
}

.clearContainer {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.removeButton {
  margin-right: 8px;
}

.checkBoxContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.checkBox {
  margin-right: 12px;
}